<!DOCTYPE html>
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="I’m a 26 year old designer and developer from Chile.">
    <meta name="keywords" content="matias martinez, ios, mac, designer, developer, dribbble, UI, stuff, delivery, posterama, ditto, konga, css">
    <meta name="twitter:site" content="@martinez"><meta name="twitter:creator" content="@martinez">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.88a93feb.png">
    <link rel="shortcut icon" href="/favicon.71cb35d3.ico">
    <link rel="mask-icon" href="/favicon.a0877335.svg" color="#2b2b2b">
    <link rel="stylesheet" href="/reset.6b91d48b.css">
    <link rel="stylesheet" href="/stylesheet.fb5989b2.css">
    <link rel="stylesheet" href="/style.129460b9.css">
    <title>JF Phaner UX</title>
</head>
<body class="line">
    <main>
        <header>
            <nav>
                <ul class="menu">
                    <li>Work</li>
                    <li>About</li>
                    <Li>Contact</Li>
                </ul>
            </nav>
        </header>
        <section class="introduction">
            <div class="content">
                <header>
                    <h1>Hi i'm Jeff</h1>
                    <h2>I love UX</h2>
                </header>
            </div>
        </section>
        <section class="work">
            <div class="content">
                <header>
                    <h1>Work</h1>
                    <h3>Selected works 2013-2020</h3>
                </header>
                <div class="container">
                    <div class="card-presentation">
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>